.containerS2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;
}

.itemS2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.itemS2 img {
  height: auto;
}
.itemS2 p {
  width: 10vw;
  color: #003da5;
  font-weight: 500;
}
.genderEqualityS2-title {
  margin-top: 5rem;
  color: #003da5;
  line-height: 1.1;
  font-size: 60px;
  text-align: center;
}

.genderEqualityS2-title2 {
  margin-top: 5rem;
  color: #003da5;
  line-height: 1.1;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

.genderEqualityS2-content {
  width: 50vw;
  text-align: center;
  align-items: center;
  line-height: 1.6;
  color: #000;
  font-size: 16px;
  margin: auto;
}

.genderEqualityS2-title3 {
  width: 35vw;
  margin-top: 100px;
  text-align: center;
  align-items: center;
  line-height: 1.6;
  color: #003da5;
  font-size: 22px;
  margin: auto;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .genderEqualityS2-title {
    margin-top: 5rem;
    color: #003da5;
    line-height: 1.1;
    font-size: 32px;
    text-align: center;
  }

  .genderEqualityS2-title2 {
    margin-top: 2rem;
    color: #003da5;
    line-height: 1.1;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
  }

  .genderEqualityS2-content {
    width: 90vw;
    text-align: center;
    align-items: center;
    line-height: 1.6;
    color: #000;
    font-size: 16px;
    margin: auto;
  }

  .genderEqualityS2-title3 {
    width: 95vw;
    margin-top: 100px;
    text-align: center;
    align-items: center;
    line-height: 1.6;
    color: #003da5;
    font-size: 22px;
    margin: auto;
    font-weight: 600;
  }
  .containerS2 {
    flex-wrap: wrap;
  }
  .itemS2 p {
    width: 40vw;
    color: #003da5;
    font-weight: 500;
  }
}
