@import url("https://unpkg.com/css.gg@2.0.0/icons/css/arrow-top-right.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right.css");
.btnSeeMore {
  display: flex;
  margin: auto;
  margin-top: 30px !important;
  font-size: 17px;
  padding: 0.7em 1em;
  font-weight: 500;
  color: #003da5;
  border: 1px solid #000; /* Border màu đen */
  background-color: transparent; /* Không có background */
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 500ms, color 500ms; /* Thêm transition cho background và color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnSeeMore .btn-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
}

.btnSeeMore .btn-label {
  position: relative;
  top: -1px;
  display: flex;
  align-items: center;
}

.btnSeeMore .btn-label p {
  margin: 0;
  margin-right: 0.5em;
}

.btnSeeMore .btn-transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #003da5;
  color: #ffffff;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btnSeeMore:hover .btn-transition {
  width: 14em;
  height: 14em;
  color: #ffffff;
}

.btnSeeMore:hover {
  background-color: #003da5; /* Màu nền xanh khi hover */
  color: #ffffff; /* Màu chữ trắng khi hover */
}

.btnSeeMore:active {
  transform: scale(0.97);
  color: #ffffff;
}
.CrueltyFreePageS5-title {
  color: #003da5;
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  margin: 70px 5vw;
}
.CrueltyFreePageS5-btn-label {
  position: absolute;
  top: 50%;
  left: 17vw !important;
  transform: translate(-50%, -50%);
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  width: 80vw;
  z-index: 2;
}
.CrueltyFreePageS5Mb-container {
  display: none;
}
.CrueltyFreePageS5-container {
  display: block;
}
@media (max-width: 1200px) {
  .CrueltyFreePageS5-container {
    display: none;
  }
  .CrueltyFreePageS5-title {
    color: #003da5;
    font-weight: 700;
    font-size: 22px !important;
    margin: 70px 5vw;
  }
  .CrueltyFreePageS5Mb-container {
    display: block;
  }
  .CrueltyFreePageS5Mb-image {
    width: 60vw !important;
    margin: 30px 15vw !important;
    display: block;
    padding: 20px;
  }
  .CrueltyFreePageS5Mb-btn-label {
    position: absolute;
    top: 50%;
    left: 50vw !important;
    transform: translate(-50%, -50%);
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    width: 80vw;
    z-index: 2;
  }
  .CrueltyFreePageS5Mb-btn-label p,
  .CrueltyFreePageS5Mb-btn-label i {
    color: #ffff;
    font-size: 14px;
    font-weight: 500;
    margin: auto;
  }
}
.CrueltyFreePageS5-image {
  display: block;
  margin: 0 auto;
  width: 90vw; /* Default for mobile */
}

.CrueltyFreePageS5-btn-label {
  left: 50vw;
  width: 80vw;
}

.CrueltyFreePageS5-btn-label p,
.CrueltyFreePageS5-btn-label i {
  color: #ffff;
  font-size: 18px;
  font-weight: 700;
  margin: auto;
}

@media (min-width: 1201px) {
  .CrueltyFreePageS5-container {
    display: flex;
  }

  .CrueltyFreePageS5-col {
    width: 33.33%;
  }

  .CrueltyFreePageS5-image {
    width: 372px; /* Original width for larger screens */
  }
  .CrueltyFreePageS5-text {
    width: 80vw;
  }
}
.CrueltyFreePageS5-col .image-container {
  overflow: hidden;
  border-radius: 50%;
}

.CrueltyFreePageS5-image {
  transition: transform 0.3s ease;
  width: 100%;
}

.CrueltyFreePageS5-col .image-container:hover .CrueltyFreePageS5-image {
  transform: scale(1.1);
}
.CrueltyFreePageS5Mb-image:hover {
  transform: scale(1.1);
}
.CrueltyFreePageS5Mb-image {
  transition: transform 0.3s ease;
  width: 100%;
}
.CrueltyFreePageS5Mb-col .image-container {
  overflow: hidden;
  border-radius: 50%;
}
