.containerContent {
  position: relative;
  width: 90vw;
  margin: auto;
  display: block;
}

.imageYTB {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.containerContent:hover .imageYTB {
  transform: scale(1.05);
}
.containerContent:hover .iconPlay {
  color: rgb(194, 180, 180) !important;
}

.iconPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #003da5;
  pointer-events: none;
  z-index: 2;
}
.btnProductSafety {
  display: flex;
  margin-left: 5vw;
  margin-top: 30px !important;
  font-size: 17px;
  padding: 0.7em 1em;
  font-weight: 500;
  color: #003da5;
  border: 1px solid #000; /* Border màu đen */
  background-color: transparent; /* Không có background */
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 500ms, color 500ms; /* Thêm transition cho background và color */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnProductSafety .btn-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
}

.btnProductSafety .btn-label {
  position: relative;
  top: -1px;
  display: flex;
  align-items: center;
}

.btnProductSafety .btn-label p {
  margin: 0;
  margin-right: 0.5em;
}

.btnProductSafety .btn-transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #003da5;
  color: #ffffff;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btnProductSafety:hover .btn-transition {
  width: 14em;
  height: 14em;
  color: #ffffff;
}

.btnProductSafety:hover {
  background-color: #003da5; /* Màu nền xanh khi hover */
  color: #ffffff; /* Màu chữ trắng khi hover */
}

.btnProductSafety:active {
  transform: scale(0.97);
  color: #ffffff;
}
