.ContactUsS1-title {
  font-size: 100px;
  font-weight: 700;
  margin: 15vw 0px 5vw 5vw;
  color: #003da5;
}
.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003da5;
  padding: 20px;
  height: 40vh;
}

.ContactUsS1-btnSeeMore {
  display: flex;
  margin-top: 30px !important;
  font-size: 17px;
  padding: 0.7em 1em;
  font-weight: 500;
  color: #003da5;
  border: 1px solid #ffff;
  background-color: transparent;
  background-color: #ffff;
  position: relative;
  overflow: hidden;
  border-radius: 1em;
  cursor: pointer;
  transition: background-color 500ms, color 500ms; /* Thêm transition cho background và color */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.ContactUsS1-btnSeeMore .ContactUsS1-btn-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
}

.ContactUsS1-btnSeeMore .ContactUsS1-btn-label {
  position: relative;
  top: -1px;
  display: flex;
  align-items: center;
}

.ContactUsS1-btnSeeMore .ContactUsS1-btn-label p {
  margin: 0;
  margin-right: 0.5em;
}

.ContactUsS1-btnSeeMore .ContactUsS1-btn-transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: #ffffff;
  color: #fff;
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ContactUsS1-btnSeeMore:hover .ContactUsS1-btn-transition {
  width: 14em;
  height: 14em;
  color: #ffff;
  background-color: #003da5;
}

.ContactUsS1-btnSeeMore:hover {
  background-color: #ffff; /* Màu nền xanh khi hover */
  color: #ffff; /* Màu chữ trắng khi hover */
}

.ContactUsS1-btnSeeMore:active {
  transform: scale(0.97);
  color: #ffffff;
}
.ContactUsS1-titleBtn {
  font-size: 22px;
  color: #ffff;
  font-weight: 500;
  margin: auto;
  text-align: center;
}
/* Hiển thị giao diện mobile cho các kích thước nhỏ hơn hoặc bằng 1200px */
@media (max-width: 1200px) {
  .ContactUsS1-title {
    font-size: 36px;
    font-weight: 700;
    margin: 15vw 0px 5vw 5vw;
    color: #003da5;
  }
  .button-section {
    display: block;
    height: auto;
  }
  .ContactUsS1-col {
    max-width: unset;
  }
  .ContactUsS1-btnSeeMore {
    margin-bottom: 30px;
  }
}
